@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Advent+Pro);
* {
	padding:0;
	margin:0;
	
	-webkit-transition:500ms height ease,
				500ms background-color ease;
	-o-transition:500ms height ease,
				500ms background-color ease;
	-moz-transition:500ms height ease,
				500ms background-color ease;
	transition:500ms height ease,
				500ms background-color ease;
	
	font-family: 'Advent Pro', sans-serif;
}

body {
	animation-name:coloring;
	animation-duration:10s;
	animation-iteration-count:infinite;
	animation-timing-function:ease;
	
	background-color:#F0F0F0;
}
@keyframes coloring {
	25% {background-color:#E8F1F7};
	50% {background-color:#EDDEFA};
	75% {background-color:#FEEBF9};
	100% {background-color:#F0F0F0};
}

#logocon {
	position:absolute;
	top:0;
	width:150px;
	height:40%;
	background-color:#5AC8E2;
}
#logocon:hover {
	height:45%;
	background-color:#000;
}
#logo {
	position:absolute;
	width:120px;
	min-width:120px;
	height:auto;
	bottom:15px;
	left:15px;
}
#para {
	font-size:50px;
	font-weight:100;
	color:#333;
	position:absolute;
	top:55%;
	width:100%;
	text-align:center;
	height:auto;
}
#socialIcon {
	width: 150px;
	position:absolute;
	bottom:0;
	left:45%;
	height:60px;
}
#twitter {
	position:absolute;
	top:0;
	left:35px;
}
#dribbble {
	position:absolute;
	top:0;
	right:35px;
}
#twitter, #dribbble {
	transition:500ms filter ease;
	-webkit-transition:500ms -webkit-filter ease;
	-moz-transition:500ms -moz-filter ease;
	-o-transition:500ms -o-filter ease;
	
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}	
#twitter:hover, #dribbble:hover {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}

.notify {
	animation-name:drib-notify;
	animation-duration:1s;
	animation-iteration-count:infinite;
	animation-timing-function:ease;
}

@keyframes drib-notify {
	25%{
		filter:grayscale(0);
		-webkit-filter:grayscale(0);
		-moz-filter:grayscale(0);
		-o-filter:grayscale(0);
	}
	%50{
		filter:grayscale(1);
		-webkit-filter:grayscale(1);
		-moz-filter:grayscale(1);
		-o-filter:grayscale(1);
	}
	%75{
		filter:grayscale(0);
		-webkit-filter:grayscale(0);
		-moz-filter:grayscale(0);
		-o-filter:grayscale(0);
	}
	100%{
		filter:grayscale(1);
		-webkit-filter:grayscale(1);
		-moz-filter:grayscale(1);
		-o-filter:grayscale(1);
	}
}
a + label {
	transition:500ms all ease;
	-webkit-transition:500ms all ease;
	-moz-transition:500ms all ease;
	-o-transition:500ms all ease;
	
	position:absolute;
	width:170px;
	padding:10px 0;
	text-align:center;
	border-left:2px solid lightgrey;
	top:-5px;
	right:-170px;
	opacity:0;
}
a + label::before {
	content:"";
	border-left:7px solid transparent;
	border-right:7px solid transparent;
	border-bottom:7px solid lightgrey;
	position:absolute;
	top:16px;
	left:-12px;;
	
	transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
}
a:hover + label {
	opacity:1;
	right:-155px;
}
